{% extends 'dashboard\user\base.html' %}

{% block head %}
<style>
    .search-result .col-md-3 {
        border-right: 1px dotted #ccc;
        min-height: 140px;
    }

    .search-result ul {
        padding-left: 0 !important;
        list-style: none;
    }

    .search-result ul li {
        font: 400 normal .85em "Roboto", Arial, Verdana, sans-serif;
        line-height: 30px;
    }

    .search-result ul li i {
        padding-right: 3px;
    }

    .search-result .col-md-7 {
        position: relative;
    }

    .search-result h3 {
        font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }

    .search-result h3>a,
    .search-result i {
        color: #248dc1 !important;
    }

    .search-result p {
        font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    }

    .search-result span.plus {
        position: absolute;
        right: 0;
        top: 126px;
    }

    .search-result span.plus a {
        background-color: #248dc1;
        padding: 5px 4px 3px 5px;
    }

    .search-result span.plus a:hover {
        background-color: #414141;
    }

    .search-result span.plus a i {
        color: #fff !important;
    }
</style>
{% endblock head %}

{% block inner_content %}
<div class="row">
    <div class="col-xs-12 col-md-12 px-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white rounded-0">
                <li class="breadcrumb-item"><a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    Overview
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row my-2">
        <div class="col-xs-12 col-md-12">
            <ul class="nav">
                <li class="nav-item">
                    <a id="redeem_redemption_code" href="#" class="btn btn-light btn-sm" data-toggle="modal"
                        data-target="#redeem_panel">Redeem a Redemption Code</a>
                </li>
            </ul>
            <div class="modal fade" id="redeem_panel" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="redeem_panel_label">Redeem a Redemption Code</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="redeem_panel_username" class="col-form-label">Username:</label>
                                    <input type="text" class="form-control" id="redeem_panel_username"
                                        value="{{ username }}">
                                </div>
                                <div class="form-group">
                                    <label for="redeem_panel_code" class="col-form-label">Code:</label>
                                    <input type="text" class="form-control" id="redeem_panel_code">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="redeem_panel_save" type="button" class="btn btn-primary">Redeem</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-3 col-md-3 border-right">
                            <div class="d-flex align-items-center justify-content-center">
                                <div
                                    class="d-flex bg-light rounded-circle align-items-center justify-content-center icon_box">
                                    <h5 class="fas fa-coins mx-2 my-2 text-warning"></h5>
                                </div>
                            </div>
                            <div class="text-center text-warning">
                                ${{ user_balance }} <br />
                                Balance <br />
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3 border-right">
                            <div class="d-flex align-items-center justify-content-center">
                                <div
                                    class="d-flex bg-light rounded-circle align-items-center justify-content-center icon_box">
                                    <h5 class="fas fa-money-bill mx-2 my-2 text-success"></h5>
                                </div>
                            </div>
                            <div class="text-center text-success">
                                {{ bill_count }} <br />
                                Bill{{ bill_count|pluralize }} <br />
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3 border-right">
                            <div class="d-flex align-items-center justify-content-center">
                                <div
                                    class="d-flex bg-light rounded-circle align-items-center justify-content-center icon_box">
                                    <h5 class="fas fa-chalkboard-teacher mx-2 my-2 text-primary"></h5>
                                </div>
                            </div>
                            <div class="text-center text-primary">
                                {{ course_count }} <br />
                                Course{{ course_count|pluralize }} <br />
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <div class="d-flex align-items-center justify-content-center">
                                <div
                                    class="d-flex bg-light rounded-circle align-items-center justify-content-center icon_box">
                                    <h5 class="far fa-calendar-alt mx-2 my-2 text-danger"></h5>
                                </div>
                            </div>
                            <div class="text-center text-danger">
                                {{ booking_count }} <br />
                                Booking{{ booking_count|pluralize }} <br />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if next_study_booking %}
    <div class="card">
        <div class="alert alert-warning">
            <span><strong><i class="fas fa-bell"></i> Studying Booking Notice: </strong>Your <span
                    class="font-weight-bolder"> latest booking</span> will start at <span
                    class="font-weight-bolder text-danger"> {{next_study_booking.start_date }} </span>
        </div>
        <article class="search-result row card-body">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <a href="{% url 'course_detail_view_page' course_id=next_study_booking.id %}" title="Details"
                    class="thumbnail"> <img
                        src="{% if next_study_booking.picture == '' %}/static/img/logo.svg{% else %}{{next_study_booking.picture}}{% endif %}"
                        class="card-img-top" alt="" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <ul class="meta-search">
                    <li><i class="icon_fixer far fa-calendar-alt"></i> <span>From
                            {{next_study_booking.start_date }}</span></li>
                    <li><i class="icon_fixer far fa-calendar-alt"></i> <span>To
                            {{next_study_booking.end_date }}</span></li>
                    <!-- <li><i class="far fa-clock"></i> <span>midnight</span></li> -->
                    <li><i class="icon_fixer fas fa-chalkboard-teacher"></i> <a
                            href="{% url 'user_profile_view' user_id=next_study_booking.teacher_id %}"><span>{{ next_study_booking.teacher_name}}</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 excerpet">
                <h3><a
                        href="{% url 'course_detail_view_page' course_id=next_study_booking.id %}">{{next_study_booking.name}}</a>
                </h3>
                <p>{{next_study_booking.info}}</p>
            </div>
        </article>
    </div>
    {% endif %}
    {% if next_teaching_booking %}
    <div class="card">
        <div class="alert alert-warning">
            <span><strong><i class="fas fa-bell"></i> Teaching Booking Notice: </strong>Your <span
                    class="font-weight-bolder"> latest booking</span> will start at <span
                    class="font-weight-bolder text-danger"> {{next_teaching_booking.start_date }} </span>
        </div>
        <article class="search-result row card-body">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <a href="{% url 'course_detail_view_page' course_id=next_teaching_booking.id %}" title="Details"
                    class="thumbnail"> <img
                        src="{% if next_teaching_booking.picture == '' %}/static/img/logo.svg{% else %}{{next_teaching_booking.picture}}{% endif %}"
                        class="card-img-top" alt="" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <ul class="meta-search">
                    <li><i class="icon_fixer far fa-calendar-alt"></i> <span>From
                            {{next_teaching_booking.start_date }}</span></li>
                    <li><i class="icon_fixer far fa-calendar-alt"></i> <span>To
                            {{next_teaching_booking.end_date }}</span></li>
                    <!-- <li><i class="far fa-clock"></i> <span>midnight</span></li> -->
                    <li><i class="icon_fixer fas fa-user-graduate"></i> <a
                            href="{% url 'user_profile_view' user_id=next_teaching_booking.student_id %}"><span>{{ next_teaching_booking.student_name}}</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 excerpet">
                <h3><a
                        href="{% url 'course_detail_view_page' course_id=next_teaching_booking.id %}">{{next_teaching_booking.name}}</a>
                </h3>
                <p>{{next_teaching_booking.info}}</p>
            </div>
        </article>
    </div>
    {% endif %}
    <div class="row my-2">
        <div class="col-xs-4 col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h6 class="card-title">Manage Profile</h6>
                    <p class="card-text">Manage your account information.</p>
                    <a href="{%url 'user_profile_edit_view' %}" class="btn btn-primary">Go <i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h6 class="card-title">View Bill List</h6>
                    <p class="card-text">Check your bill information.</p>
                    <a href="{%url 'bill_list_view' %}" class="btn btn-primary">Go <i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h6 class="card-title">View Log List</h6>
                    <p class="card-text">Check your account activity.</p>
                    <a href="{%url 'user_log_list_view'%}" class="btn btn-primary">Go <i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-xs-4 col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h6 class="card-title">View Your Course</h6>
                    <p class="card-text">With this function, you can change user's balance</p>
                    <a href="{%url 'user_course_view_panel' panel_name='study' %}" class="btn btn-primary">Study <i
                            class="fas fa-arrow-right"></i></a>
                    {% if is_superuser or is_teacher %}
                    <a href="{%url 'user_course_view_panel' panel_name='teaching' %}" class="btn btn-primary">Teaching
                        <i class="fas fa-arrow-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h6 class="card-title">Calendar</h6>
                    <p class="card-text">Schedule and check what happens next.</p>
                    <a href="{% url 'user_calendar_list_view' %}" class="btn btn-primary">Go <i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h6 class="card-title">Message</h6>
                    <p class="card-text">With this function, you can create and review the log history for each user.
                    </p>
                    <p>
                        <a href="{%url 'message_view_box' box_name='inbox'%}" class="btn btn-primary">Inbox <i
                                class="fas fa-arrow-right"></i></a>
                        <a href="{%url 'message_view_box' box_name='outbox'%}" class="btn btn-primary">Outbox <i
                                class="fas fa-arrow-right"></i></a>
                    </p>
                    <p>
                        <a href="{%url 'message_send_view'%}" class="btn btn-primary">New Message <i
                                class="fas fa-arrow-right"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock inner_content %}

{% block script %}
<script>
    $('#redeem_panel_save').click(function () {
        $(function () {
            let list = {};
            let csrftoken = $("[name=csrfmiddlewaretoken]").val();
            list["username"] = $("#redeem_panel_username")[0].value;
            list["code"] = $("#redeem_panel_code")[0].value;
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                url: "{%url 'redeem_redemption_code_api'%}",
                data: JSON.stringify(list),
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (result) {
                    $("[id^=ajax_result]").remove();
                    $(".modal-body").append(
                        '<div id="ajax_result" class="alert alert-success" role="alert">' +
                        result["message"] +
                        '</div>'
                    );
                    window.location.reload();
                },
                error: function (e) {
                    let result = e.responseJSON;
                    switch (result["status"]) {
                        case 400:
                            $("[id^=ajax_result]").remove();
                            if (typeof result['message'] == 'string') {
                                $(".modal-body").append(
                                    '<div id="ajax_result" class="alert alert-danger" role="alert">Something goes wrong.<br/>' + result['message'] + '</div>'
                                );
                            }
                            else {
                                for (var index in result["message"]) {
                                    $("#redeem_panel_" + index)
                                        .parent()
                                        .append(
                                            '<div id="ajax_result_' +
                                            index +
                                            '" class="alert alert-danger" role="alert">' +
                                            result["message"][index][0] +
                                            '</div>'
                                        );
                                }
                            }
                            break;
                        case 403:
                            $("[id^=ajax_result]").remove();
                            $(".modal-body").append(
                                '<div id="ajax_result" class="alert alert-danger" role="alert">' +
                                result["message"] +
                                '</div>'
                            );
                            break;
                        case 404:
                            $("[id^=ajax_result]").remove();
                            $(".modal-body").append(
                                '<div id="ajax_result" class="alert alert-danger" role="alert">' +
                                result["message"] +
                                '</div>'
                            );
                            break;
                        default:
                            $("[id^=ajax_result]").remove();
                            $(".modal-body").append(
                                '<div id="ajax_result" class="alert alert-danger" role="alert">Something goes wrong.<br/>Please try again.</div>'
                            );
                            break;
                    }
                },
            });
        });
    });
</script>
{% endblock script %}