{% extends 'dashboard\user\base.html' %}

{% block head%}
<style>
    body {
        min-height: 100vh;
        background-color: #4dc9ff;
    }
</style>
{% endblock head%}

{% block inner_content %}
<div class="row">
    <div class="col-xs-12 col-md-12 px-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white rounded-0">
                <li class="breadcrumb-item"><a href="{% url 'user_overview_view' %}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    My Account
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Log List
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container py-5">
    <!-- <div class="text-center text-white">
        <h1 class="display-4">Log List</h1>
        <p class="lead mb-0">User page</p>
    </div> -->
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card rounded shadow border-0">
                <div class="card-body p-4 bg-white rounded">
                    <div class="table-responsive">
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for each in page_obj %}
                                <tr>
                                    <td>{{ each.id }}</td>
                                    <td>{{ each.user.username }}</td>
                                    <td>{{ each.user.name }}</td>
                                    <td>{{ each.date }}</td>
                                    <td>{{ each.operation }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                    </div>
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}"><a class="page-link"
                                href="{%url 'user_log_list_view_page' page=1%}">First</a>
                        </li>

                        {% for each in page_bar %}
                        <li class="page-item {% if page_obj.number == each %}active{% endif %}"><a class="page-link"
                                href="{%url 'user_log_list_view_page' page=each %}">{{each}}</a>
                        </li>
                        {% endfor %}

                        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}"><a class="page-link"
                                href="{%url 'user_log_list_view_page' page=page_obj.paginator.num_pages%}">Last</a>
                        </li>
                    </ul>
                    <span>
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock inner_content %}

{% block script %}

{% endblock script %}