{% extends 'dashboard/user/base.html' %}

{% block inner_content %}
<div class="row">
    <div class="col-xs-12 col-md-12 px-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white rounded-0">
                <li class="breadcrumb-item"><a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    My Account
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Profile
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="col-lg-12 mb-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="padding border-lg-right"></div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <div class="form-group">
                                    <label for="edit_panel_id" class="col-form-label">ID:</label>
                                    <input type="text" class="form-control" id="edit_panel_id"
                                        value="{{ request.user.id }}" disabled="">
                                </div>
                                <div class="form-group">
                                    <label for="edit_panel_username" class="col-form-label">Username:</label>
                                    <input type="text" class="form-control" id="edit_panel_username"
                                        value="{{ request.user.username }}">
                                </div>
                                <div class="form-group">
                                    <label for="edit_panel_name" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" id="edit_panel_name"
                                        value="{{ request.user.name }}">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="edit_panel_picture" class="col-form-label">Photo:</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="edit_panel_picture">
                                        <label id='edit_panel_picture_label' class="custom-file-label"
                                            for="edit_panel_picture" aria-describedby="edit_panel_picture">Choose
                                            file</label>
                                    </div>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="edit_panel_change_password">
                                    <label class="custom-control-label" for="edit_panel_change_password">Change
                                        password</label>
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-unlock-alt icon_fixer"></i>
                                        </span>
                                    </div>
                                    <input id="edit_panel_old_password" name="old_password" class="form-control"
                                        placeholder="Old Password" type="password" disabled="">
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock icon_fixer"></i>
                                        </span>
                                    </div>
                                    <input id="edit_panel_password" name="password" class="form-control"
                                        placeholder="Password" type="password" disabled="">
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-key icon_fixer"></i>
                                        </span>
                                    </div>
                                    <input id="edit_panel_password2" name="password2" class="form-control"
                                        placeholder="Repeat Password" type="password" disabled="">
                                </div>
                                <div class="form-group">
                                    <label for="edit_panel_profile" class="col-form-label">Profile:</label>
                                    <textarea class="form-control" id="edit_panel_profile" name="body"
                                        placeholder="Click here to write">{{ request.user.profile }}</textarea>
                                </div>
                                <div class="form-group">
                                    <button id="submit" class="btn btn-success">Save</button>
                                    <button id="reset" class="btn btn-danger">Discard</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock inner_content %}

{% block script %}
<script>
    $('#edit_panel_change_password').change(function () {
        if (this.checked) {
            $('#edit_panel_old_password').prop('disabled', false);
            $('#edit_panel_password').prop('disabled', false);
            $('#edit_panel_password2').prop('disabled', false);
        } else {
            $('#edit_panel_old_password').prop('disabled', true);
            $('#edit_panel_password').prop('disabled', true);
            $('#edit_panel_password2').prop('disabled', true);
        }
    });
    $("#edit_panel_password").blur(function () {
        if ($("#edit_panel_password")[0].value == $("#edit_panel_password2")[0].value) {
            $("#ajax_result_password2").remove();
        } else {
            if (
                $("#edit_panel_password2")[0].value.length > 0 &&
                !$("#ajax_result_password2").length
            ) {
                $("#edit_panel_password2")
                    .parent()
                    .after(
                        '<div class="alert alert-danger" role="alert" id="ajax_result_password2">Password doesn\'t match.</div>'
                    );
            }
        }
    });
    $("#edit_panel_password2").blur(function () {
        if ($("#edit_panel_password")[0].value == $("#edit_panel_password2")[0].value) {
            $("#ajax_result_password2").remove();
        } else {
            if (!$("#ajax_result_password2").length) {
                $("#edit_panel_password2")
                    .parent()
                    .after(
                        '<div class="alert alert-danger" role="alert" id="ajax_result_password2">Password doesn\'t match.</div>'
                    );
            }
        }
    });
    $('#submit').click(function () {
        $(function () {
            let list = {};
            let csrftoken = $("[name=csrfmiddlewaretoken]").val();
            let api_url = "{%url 'user_api' user_id='0'%}";
            let data = new FormData();
            data.append("username", $("#edit_panel_username")[0].value);
            data.append("name", $("#edit_panel_name")[0].value);
            data.append("profile", $("#edit_panel_profile")[0].value);
            if (($("#edit_panel_change_password").is(':checked')) && ($("#edit_panel_password")[0].value == $("#edit_panel_password2")[0].value)) {
                data.append("old_password", $("#edit_panel_old_password")[0].value);
                data.append("password", $("#edit_panel_password")[0].value);
            }
            data.append("picture", $("#edit_panel_picture")[0].files[0]);
            $.ajax({
                type: "POST",
                contentType: false,
                processData: false,
                cache: false,
                url: api_url.substr(0, api_url.length - 1) + $("#edit_panel_id")[0].value,
                data: data,
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (result) {
                    $("[id^=ajax_result]").remove();
                    $(".panel-body").append('<div class="alert alert-success alert-dismissible fade show text-center m-0" role="alert">The user was successfully updated. We are reloading the page for you.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    window.location.reload();
                },
                error: function (e) {
                    let result = e.responseJSON;
                    $("[id^=ajax_result]").remove();
                    if (typeof result['message'] == 'string') {
                        $(".panel-body").append(
                            '<div id="ajax_result" class="alert alert-danger" role="alert">Something goes wrong.<br/>' + result['message'] + '</div>'
                        );
                    }
                    else {
                        for (var index in result["message"]) {
                            $("#" + index)
                                .after(
                                    '<div id="ajax_result_' +
                                    index +
                                    '" class="alert alert-danger" role="alert">' +
                                    result["message"][index][0] +
                                    '</div>'
                                );
                        }
                    }
                },
            });
        });
    });
    $('#reset').click(function () {
        location.reload(true);
    });
    if (typeof ($('#edit_panel_picture')[0].files[0]) != "undefined") {
        $('#edit_panel_picture_label').html($('#edit_panel_picture')[0].files[0].name);
    }
    $('#edit_panel_picture').change(function (e) {
        var fileName = e.target.files[0].name;
        $('#edit_panel_picture_label').html(fileName);
    });
</script>
{% endblock script %}
