{% extends 'dashboard/user/base.html' %}

{% block inner_content %}
<div class="row">
    <div class="col-xs-12 col-md-12 px-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white rounded-0">
                <li class="breadcrumb-item"><a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Message
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ box_name|capfirst }}
                </li>
            </ol>
        </nav>
    </div>
</div>
{% if status == 200 %}
<div class="col-lg-12 mb-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{% if box_name == 'inbox'%}Sender{% elif box_name == 'outbox' %}Recipient{% endif %}</th>
                                    <th>Title</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if box_name == 'inbox'%}
                                {% for each in page_obj %}
                                <tr>
                                    {% if each.is_unread %}
                                    <td class="action"><i class="fas fa-envelope text-warning"></i></td>
                                    {% else %}
                                    <td class="action"><i class="fas fa-envelope-open-text"></i></td>
                                    {% endif%}
                                    <td class="name"><a href="{% url 'user_profile_view' user_id=each.sender.id %}">{{ each.sender.name }}</a></td>
                                    <td class="subject"><a class="subject_link"
                                            href="{%url 'message_detail_view' message_id=each.id%}">{{ each.title }}</a>
                                    </td>
                                    <td class="time">{{ each.send_date }}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                {% for each in page_obj %}
                                <tr>
                                    {% if each.is_unread %}
                                    <td class="action"><i class="fas fa-envelope text-warning"></i></td>
                                    {% else %}
                                    <td class="action"><i class="fas fa-envelope-open-text"></i></td>
                                    {% endif%}
                                    <td class="name"><a href="{% url 'user_profile_view' user_id=each.recipient.id %}">{{ each.recipient.name }}</a></td>
                                    <td class="subject"><a class="subject_link"
                                            href="{%url 'message_detail_view' message_id=each.id%}">{{ each.title }}</a>
                                    </td>
                                    <td class="time">{{ each.send_date }}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}"><a class="page-link"
                                href="{%url 'message_view_page' box_name=box_name page=1%}">First</a></li>

                        {% for each in page_bar %}
                        <li class="page-item {% if page_obj.number == each %}active{% endif %}"><a class="page-link"
                                href="{%url 'message_view_page' box_name=box_name page=each %}">{{ each }}</a></li>
                        {% endfor %}

                        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}"><a class="page-link"
                                href="{%url 'message_view_page' box_name=box_name page=page_obj.paginator.num_pages%}">Last</a>
                        </li>
                    </ul>
                    <span>
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% elif status == 404 %}
<div class="alert alert-danger" role="alert">
    Box Not Found
</div>
{% endif %}
{% endblock inner_content %}

{% block script %}

{% endblock script %}
