{% extends 'dashboard\admin\base.html' %}

{% block head %}
<style>
    body {
        min-height: 100vh;
        background-color: #4dc9ff;
    }
</style>
{% endblock head %}

{% block inner_content %}
<div class="row">
    <div class="col-xs-12 col-md-12 px-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white rounded-0">
                <li class="breadcrumb-item"><a href="{% url 'admin_overview_view' %}">Admin Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Manage User
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Bill List
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container py-5">
    <!-- <div class="text-center text-white">
        <h1 class="display-4">Bill List</h1>
        <p class="lead mb-0"> Administrator page</p>
    </div> -->
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card rounded shadow border-0">
                <div class="card-body p-4 bg-white rounded">
                    <div class="row">
                        <div class="form-row mx-auto">
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Username">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="info" name="info"
                                    placeholder="Info e.g. salary">
                            </div>
                            <div class="col-md-1">
                                <a id="create" class="btn btn-primary" href="#">Create</a>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Info</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for each in page_obj %}
                                <tr>
                                    <td>{{ each.id }}</td>
                                    <td>{{ each.user.username }}</td>
                                    <td>{{ each.user.name }}</td>
                                    <td>{{ each.date }}</td>
                                    <td>{{ each.amount }}</td>
                                    <td>{{ each.info }}</td>
                                    <td>
                                        <button class="btn btn-success btn-sm rounded-0 edit-item" type="button"
                                            data-toggle="modal" data-target="#edit_panel" title="Edit"
                                            data-id="{{ each.id }}" data-name="{{ each.user.name }}" data-username="{{ each.user.username }}"
                                            data-date="{{ each.date }}" data-amount="{{ each.amount }}"
                                            data-info="{{ each.info }}">
                                            <i class="fa fa-edit"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="modal fade" id="edit_panel" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="edit_panel_label">Edit</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="edit_panel_id" class="col-form-label">ID:</label>
                                                <input type="text" class="form-control" id="edit_panel_id" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit_panel_username" class="col-form-label">Username:</label>
                                                <input type="text" class="form-control" id="edit_panel_username" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit_panel_name" class="col-form-label">Name:</label>
                                                <input type="text" class="form-control" id="edit_panel_name" disabled>
                                            </div>
                                            <!--CHECK DATE 1.EDIT 2. CREATE-->
                                            <div class="form-group">
                                                <label for="edit_panel_date" class="col-form-label">Date:</label>
                                                <input type="text" class="form-control" id="edit_panel_date" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit_panel_amount" class="col-form-label">Amount:</label>
                                                <input type="text" class="form-control" id="edit_panel_amount" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit_panel_info" class="col-form-label">Info:</label>
                                                <input type="text" class="form-control" id="edit_panel_info">
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button id="edit_panel_save" type="button" class="btn btn-primary"
                                            data-dismiss="modal">Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}"><a class="page-link"
                                href="{%url 'admin_bill_list_view_page' page=1%}">First</a>
                        </li>

                        {% for each in page_bar %}
                        <li class="page-item {% if page_obj.number == each %}active{% endif %}"><a class="page-link"
                                href="{%url 'admin_bill_list_view_page' page=each %}">{{each}}</a>
                        </li>
                        {% endfor %}

                        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}"><a class="page-link"
                                href="{%url 'admin_bill_list_view_page' page=page_obj.paginator.num_pages%}">Last</a>
                        </li>
                    </ul>
                    <span>
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock inner_content %}

{% block script %}
<script>
    $('.delete-item').click(function () {
        $("#target_item")[0].value = $(this).data('id');
    });
    $('.edit-item').click(function () {
        $("#edit_panel_id")[0].value = $(this).data('id');
        $("#edit_panel_username")[0].value = $(this).data('username');
        $("#edit_panel_name")[0].value = $(this).data('name');
        $("#edit_panel_date")[0].value = $(this).data('date');
        $("#edit_panel_amount")[0].value = $(this).data('amount');
        $("#edit_panel_info")[0].value = $(this).data('info');
    });

    $('#create').click(function () {
        $(function () {
            let list = {};
            let csrftoken = $("[name=csrfmiddlewaretoken]").val();
            list["username"] = $("#username")[0].value;
            list["amount"] = $("#amount")[0].value;
            list["info"] = $("#info")[0].value;
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                url: "{%url 'bill_list_api'%}",
                data: JSON.stringify(list),
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (result) {
                    $("[id^=ajax_result]").remove();
                    $(".table-responsive").before(
                        '<div id="ajax_result" class="alert alert-success" role="alert">' +
                        result["message"] +
                        '</div>'
                    );
                    window.location.reload();
                },
                error: function (e) {
                    let result = e.responseJSON;
                    switch (result["status"]) {
                        case 400:
                            $("[id^=ajax_result]").remove();
                            if (typeof result['message'] == 'string') {
                                $(".table-responsive").before(
                                    '<div id="ajax_result" class="alert alert-danger" role="alert">Something goes wrong.<br/>' + result['message'] + '</div>'
                                );
                            }
                            else {
                                for (var index in result["message"]) {
                                    $("#" + index)
                                        .parent()
                                        .append(
                                            '<div id="ajax_result_' +
                                            index +
                                            '" class="alert alert-danger" role="alert">' +
                                            result["message"][index][0] +
                                            '</div>'
                                        );
                                }
                            }
                            break;
                        case 403:
                            $("[id^=ajax_result]").remove();
                            $(".table-responsive").before(
                                '<div id="ajax_result" class="alert alert-danger" role="alert">' +
                                result["message"] +
                                '</div>'
                            );
                            break;
                        default:
                            $("[id^=ajax_result]").remove();
                            $(".table-responsive").before(
                                '<div id="ajax_result" class="alert alert-danger" role="alert">Something goes wrong.<br/>Please try again.</div>'
                            );
                            break;
                    }
                },
            });
        });
    });
    $('#edit_panel_save').click(function () {
        $(function () {
            let list = {};
            let csrftoken = $("[name=csrfmiddlewaretoken]").val();
            let api_url = "{%url 'bill_api' bill_id='0'%}";
            list["info"] = $("#edit_panel_info")[0].value;
            $.ajax({
                type: "PATCH",
                contentType: "application/json;charset=UTF-8",
                url: api_url.substr(0, api_url.length - 1) + $("#edit_panel_id")[0].value,
                data: JSON.stringify(list),
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (result) {
                    $(".table-responsive").before('<div class="alert alert-success alert-dismissible fade show text-center m-0" role="alert">The redemption code was successfully updated. We are reloading the page for you.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    window.location.reload();
                },
                error: function (e) {
                    $(".table-responsive").before('<div class="alert alert-danger alert-dismissible fade show text-center m-0" role="alert">Something goes wrong. We are reloading the page for you.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    window.location.reload();
                },
            });
        });
    });
</script>
{% endblock script %}