{% extends 'base.html' %}

{% block head %}
{% if is_superuser or request.user == course.teacher%}
<script type="text/javascript" src="/static/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/static/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="/static/css/tempusdominus-bootstrap-4.min.css" />
<style>
    .clearfix::after,
    .calendar ol::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    /* ================
Calendar Styling */
    .calendar {
        border-radius: 10px;
    }

    .calendar ol li {
        float: left;
        width: 14.28571%;
    }

    .calendar .day-names {
        border-bottom: 2px solid #eee;
    }

    .calendar .day-names li {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    .calendar .days li {
        border-bottom: 1px solid #eee;
        min-height: 8rem;
    }

    .calendar .days li .date {
        margin: 0.5rem 0;
    }

    .calendar .days li .event {
        font-size: 0.75rem;
        padding: 0.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 4rem;
        margin-bottom: 1px;
    }

    .calendar .days li .event.clear {
        background: none;
    }

    /*
*
* ==========================================
* FOR non this month days(the gray number)
* ==========================================
*
*/
    .calendar .days li:nth-child(n+29) {
        border-bottom: none;
    }

    .calendar .days li.outside .date {
        color: #ddd;
    }
</style>
{% endif %}
{% endblock head %}

{% block content %}
{% if status == 200 %}
<div class="card blue-gradient rounded-0 border-1"
    style="background-image: url(/static/img/gradient1.jpg);background-size:cover;">
    <div class="container card-body text-white rgba-black-light">
        <div class='row'>
            <div class='col-md-8'>
                <!--Grid row-->
                <h1>{{ course.name }}</h1>
                <p class="mb-0">{{ course.info|truncatechars:255 }}</p>
                <p class="h5 mb-2">
                <p class="lead"><i class="fa fa-user icon_fixer"></i>&nbsp; by <a
                        href="{% url 'user_profile_view' user_id=course.teacher.id %}"><span
                            class="text-white font-weight-bolder">{{ course.teacher.name}}</span></a>
                </p>
                </p>
                <p><i class="fa fa-calendar icon_fixer"></i>&nbsp;From {{ course.start_date }} to {{ course.end_date }}
                </p>
                <a href="{% url 'course_enroll_view_page' course_id=course.id %}"
                    class="btn btn-warning text-white">Join
                    Now</a>
                {% if is_superuser or request.user == course.teacher%}
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#edit_panel">Edit</a>
                <a href="#" class="btn btn-danger" data-toggle="modal" title="Delete" data-target="#delete" role="button" data-id="{{ each.id }}">Delete</a>
                {% endif %}
            </div>
            {% if picture == '' %}
            <div class='col-md-4 bg-white'>
                <img src="/static/img/logo.svg" class="card-img-top" alt="" />
            </div>
            {% else %}
            <div class='col-md-4'>
                <img src="{{picture}}" class="card-img-top" alt="" />
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal fade" id="edit_panel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit_panel_label">Edit the Course #{{ course.id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="edit_panel_modal_body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="edit_panel_name" class="col-form-label">Course Name:</label>
                                <input type="text" class="form-control" id="edit_panel_name" value='{{ course.name }}'>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="edit_panel_teacher" class="col-form-label">Teacher:</label>
                                <input type="text" class="form-control" id="edit_panel_teacher" value="{{ username }}"
                                    {% if not is_superuser %}disabled{% endif %}>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="edit_panel_start_date" class="col-form-label">Start Date:</label>
                                <div class="input-group date" id="edit_panel_start_date" data-target-input="nearest">
                                    <input id="edit_panel_start_date_input" type="text"
                                        class="form-control datetimepicker-input"
                                        data-target="#edit_panel_start_date" />
                                    <div class="input-group-append" data-target="#edit_panel_start_date"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="edit_panel_end_date" class="col-form-label">End Date:</label>
                                <div class="input-group date" id="edit_panel_end_date" data-target-input="nearest">
                                    <input id="edit_panel_end_date_input" type="text"
                                        class="form-control datetimepicker-input" data-target="#edit_panel_end_date" />
                                    <div class="input-group-append" data-target="#edit_panel_end_date"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="edit_panel_price" class="col-form-label">Price:</label>
                                <input type="text" class="form-control" id="edit_panel_price"
                                    value='{{ course.price }}'>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="edit_panel_quota" class="col-form-label">Session Quota:</label>
                                <input type="text" class="form-control" id="edit_panel_quota"
                                    value='{{ course.quota }}'>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="edit_panel_sold" class="col-form-label">Sold:</label>
                                <input type="text" class="form-control" id="edit_panel_sold" value="{{ course.sold }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label for="edit_panel_picture" class="col-form-label">Picture:</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="edit_panel_picture">
                                    <label id='edit_panel_picture_label' class="custom-file-label"
                                        for="edit_panel_picture" aria-describedby="edit_panel_picture">Choose
                                        file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="edit_panel_info" class="col-form-label">Info:</label>
                                <textarea type="text" class="form-control"
                                    id="edit_panel_info">{{ course.info }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back
                </button>
                <button id="edit_panel_save" type="button" class="btn btn-primary">Save
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Warning</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                After deleting it, it will not come back again.
            </div>
            <input id="target_item" name="target_item" type="hidden">
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Back
                </button>
                <button id="delete_check" type="button" class="btn btn-danger" data-dismiss="modal">Delete
                </button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container mb-5">
    <div class="row">
        <!-- <div class="col-md-12">
            <ul class="nav nav-tabs sticky-top">
                <li class="nav-item">
                    <a class="nav-link active" href="#detail">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#home">DESCRIPTION</a>
                </li>
            </ul>
        </div> -->
        <div class="col-md-12">
            <div class="tab-content" id="detail">
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><span class="text-primary font-weight-bolder">Course Name:</span></td>
                                <td>{{ course.name }}</td>
                            </tr>
                            <tr>
                                <td><span class="text-primary font-weight-bolder">Start date:</span></td>
                                <td>{{ course.start_date }}</td>
                            </tr>
                            <tr>
                                <td><span class="text-primary font-weight-bolder">End date:</span></td>
                                <td>{{ course.end_date }}</td>
                            </tr>
                            <tr>
                                <td><span class="text-primary font-weight-bolder">Teacher</span></td>
                                <td><a
                                        href="{% url 'user_profile_view' user_id=course.teacher.id %}">{{ course.teacher.name }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="text-primary font-weight-bolder">Session Quota</span></td>
                                <td>{{ course.quota }}</td>
                            </tr>
                            <tr>
                                <td><span class="text-primary font-weight-bolder">Price</span></td>
                                <td>${{ course.price }}</td>
                            </tr>
                            <tr>
                                <td><span class="text-primary font-weight-bolder">Sold</span></td>
                                <td>{{ course.sold }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr id="home">
            <div class="tab-content">
                <div class=" col-md-9 col-lg-9 ">
                    <span class="text-primary font-weight-bolder"> Course Description:</span>
                    <br><br>
                    {{ course.info }}
                </div>
            </div>
        </div>
    </div>
    <!-- Tab panes -->
</div>
{% else %}
{% if message %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endif %}
{% endif %}
{% endblock content %}

{% block script %}
<script>
    $(function () {
        $('#edit_panel_start_date').datetimepicker({
            icons: {
                time: "far fa-clock",
            },
            date: moment('{{ course.start_date|date:"Y-m-d\TH:i:sO" }}'),
        }
        );
        $('#edit_panel_end_date').datetimepicker({
            icons: {
                time: "far fa-clock",
            },
            date: moment('{{ course.end_date|date:"Y-m-d\TH:i:sO" }}'),
        }
        );
    });
    $('#delete_check').click(function () {
        $(function () {
            let list = {};
            let csrftoken = $("[name=csrfmiddlewaretoken]").val();
            let api_url = "{%url 'course_api' course_id='0'%}";
            $.ajax({
                type: "DELETE",
                contentType: "application/json;charset=UTF-8",
                url: api_url.substr(0, api_url.length - 1) + '{{ course.id }}',
                data: JSON.stringify(list),
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (result) {
                    $("nav").first().after('<div class="alert alert-success alert-dismissible fade show text-center m-0" role="alert">The redemptio code was successfully deleted. We are reloading the page for you.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    document.location = "{% url 'course_list_view'%}";
                },
                error: function (e) {
                    $("nav").first().after('<div class="alert alert-danger alert-dismissible fade show text-center m-0" role="alert">Something goes wrong. We are reloading the page for you.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    window.location.reload();
                }
            });
        });
    });
    $('#edit_panel_save').click(function () {
        $(function () {
            $('#edit_panel_save').prop('disabled', true);
            let list = {};
            let csrftoken = $("[name=csrfmiddlewaretoken]").val();
            let api_url = "{%url 'course_api' course_id='0'%}";
            let data = new FormData();
            data.append("name", $("#edit_panel_name")[0].value);
            data.append("teacher", $("#edit_panel_teacher")[0].value);
            data.append("start_date", $('#edit_panel_start_date').datetimepicker('viewDate').format('YYYY-MM-DD HH:mm'));
            data.append("end_date", $('#edit_panel_end_date').datetimepicker('viewDate').format('YYYY-MM-DD HH:mm'));
            data.append("price", $("#edit_panel_price")[0].value);
            data.append("quota", $("#edit_panel_quota")[0].value);
            data.append("sold", $("#edit_panel_sold")[0].value);
            data.append("info", $("#edit_panel_info")[0].value);
            data.append("picture", $("#edit_panel_picture")[0].files[0]);
            $.ajax({
                type: "POST",
                contentType: false,
                processData: false,
                cache: false,
                url: api_url.substr(0, api_url.length - 1) + '{{ course.id }}',
                data: data,
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (result) {
                    $("[id^=ajax_result]").remove();
                    $("#edit_panel_modal_body").append(
                        '<div id="ajax_result" class="alert alert-success" role="alert">' +
                        result["message"] +
                        '</div>'
                    );
                    $('#edit_panel').modal('hide');
                    $("#edit_panel_name")[0].value = '';
                    $("#edit_panel_teacher")[0].value = '';
                    $("#edit_panel_start_date")[0].value = '';
                    $("#edit_panel_end_date")[0].value = '';
                    $("#edit_panel_price")[0].value = '';
                    $("#edit_panel_quota")[0].value = '';
                    $("#edit_panel_sold")[0].value = '';
                    $("#edit_panel_info")[0].value = '';
                    $('#edit_panel_save').prop('disabled', false);
                    window.location.reload();
                },
                error: function (e) {
                    $('#edit_panel_save').prop('disabled', false);
                    let result = e.responseJSON;
                    switch (result["status"]) {
                        case 400:
                            $("[id^=ajax_result]").remove();
                            if (typeof result['message'] == 'string') {
                                $("#edit_panel_modal_body").append(
                                    '<div id="ajax_result" class="alert alert-danger" role="alert">Something goes wrong.<br/>' + result['message'] + '</div>'
                                );
                            }
                            else {
                                for (var index in result["message"]) {
                                    $("#edit_panel_" + index)
                                        .parent()
                                        .append(
                                            '<div id="ajax_result_' +
                                            index +
                                            '" class="alert alert-danger" role="alert">' +
                                            result["message"][index][0] +
                                            '</div>'
                                        );
                                }
                            }
                            break;
                        case 403:
                            $("[id^=ajax_result]").remove();
                            $("#edit_panel_modal_body").append(
                                '<div id="ajax_result" class="alert alert-danger" role="alert">' +
                                result["message"] +
                                '</div>'
                            );
                            break;
                        default:
                            $("[id^=ajax_result]").remove();
                            $("#edit_panel_modal_body").append(
                                '<div id="ajax_result" class="alert alert-danger" role="alert">Something goes wrong.<br/>Please try again.</div>'
                            );
                            break;
                    }
                },
            });
        });
    });
    if (typeof ($('#edit_panel_picture')[0].files[0]) != "undefined") {
        $('#edit_panel_picture_label').html($('#edit_panel_picture')[0].files[0].name);
    }
    $('#edit_panel_picture').change(function (e) {
        var fileName = e.target.files[0].name;
        $('#edit_panel_picture_label').html(fileName);
    });
</script>
{% endblock script %}