{% extends 'base.html' %}

{% block content %}
<!--Main layout-->
<main class="mt-5 pt-5">
    <div class="container">
        <!--Section: Jumbotron-->
        <section class="card wow fadeIn" style="background-image: url(/static/img/gradient1.jpg);">
            <!-- Content -->
            <div class="card-body text-white text-center py-5 px-5 my-5">
                <h1 class="mb-4">
                    <strong>Learning with One-on-One Tutoring Platform</strong>
                </h1>
                <p>
                    <strong>Best teaching resources and experiences</strong>
                </p>
                <p class="mb-4">
                    <strong>The most comprehensive one-on-one teaching tutorial. Started from
                        2000. Loved by over 500 000 users.
                    </strong>
                </p>
                {% if is_authenticated %}
                <a href="{%url 'course_list_view'%}" class="btn btn-warning text-white btn-outline-white btn-lg">Start
                    Now
                    <i class="fas fa-graduation-cap ml-2"></i>
                </a>
                {% else %}
                <a href="{%url 'user_signup_view'%}" class="btn btn-warning text-white btn-outline-white btn-lg">Start
                    Now
                    <i class="fas fa-graduation-cap ml-2"></i>
                </a>
                {% endif %}
            </div>
            <!-- Content -->
        </section>
        <!--Section: Jumbotron-->

        <hr class="my-5" />

        <section id="course" class="text-center">
            <!--Grid row-->
            <div class="row row-cols-3 mb-4 wow fadeIn">
                {% for each in course_set %}
                <!--Grid column-->
                <div class="col mb-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay">
                            <a class='text-warning' href="{% url 'course_detail_view_page' course_id=each.id %}">
                                <img src="{% if each.picture == '' %}/static/img/logo.svg{% else %}{{each.picture}}{% endif %}"
                                    class="card-img-top" alt="" /></a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title"><a class='text-warning'
                                    href="{% url 'course_detail_view_page' course_id=each.id %}">{{each.name}}</a></h4>
                            <!--Text-->
                            <p class="card-text">
                            <p class="font-weight-bolder"><a
                                    href="{% url 'user_profile_view' user_id=each.teacher_id %}"><span>{{ each.teacher_name}}</span></a>
                            </p>
                            <p class="font-weight-normal">{{ each.info|truncatechars:255 }}</p>
                            <p class="font-weight-light">From {{ each.start_date }}</p>
                            <p class="font-weight-light">To {{ each.end_date }}</p>
                            <p class="font-italic">${{ each.price }} for {{ each.quota }}
                                session{{ each.quota|pluralize }}
                            </p>
                            <p class="font-italic">Already sold {{ each.sold }}</p>
                            </p>
                            <a href="{% url 'course_detail_view_page' course_id=each.id %}" target="_blank"
                                class="btn btn-primary btn-md">Start tutorial
                                <i class="fas fa-play ml-2"></i>
                            </a>
                        </div>
                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
                {% endfor %}
            </div>
            <!--Grid row-->

            <!--Pagination-->
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}"><a class="page-link"
                        href="{%url 'home_page' page=1%}#course">First</a>
                </li>

                {% for each in page_bar %}
                <li class="page-item {% if page_obj.number == each %}active{% endif %}"><a class="page-link"
                        href="{%url 'home_page' page=each %}#course">{{each}}</a>
                </li>
                {% endfor %}

                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}"><a class="page-link"
                        href="{%url 'home_page' page=page_obj.paginator.num_pages%}#course">Last</a>
                </li>
            </ul>
            <span class="font-weight-light">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            <!--Pagination-->
        </section>
        <!--Section: Cards-->
    </div>
</main>
<!--Main layout-->

<br /><br />
<article class="bg-info">
    <div class="card-body text-center">
        <h3 class="text-white mt-3">Knowledge is power</h3>
        <p class="h5 text-white">
            We bring you the best learning experience
        </p>
        <br />
        {% if is_authenticated %}
        <a href="{%url 'course_list_view'%}" class="btn btn-warning text-white btn-outline-white btn-lg">Start Now
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
        {% else %}
        <a href="{%url 'user_signup_view'%}" class="btn btn-warning text-white btn-outline-white btn-lg">Start Now
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
        {% endif %}
    </div>
    <br />
</article>
{% endblock content %}

{% block script%}
<script>
    function scrool_helper() {
        if (window.location.hash.indexOf('#') >= 0) {
            $('html,body').animate({
                scrollTop: ($(window.location.hash).offset().top - $(".navbar").innerHeight()) + "px"
            },
                300);
        };
    }
    scrool_helper();
    $("#course").click(function () {
        scrool_helper();
    });
</script>
{% endblock script%}