{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card bg-light my-2">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Log in</h4>

            <hr />
            <div id="login-form" class="form">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user icon_fixer"></i>
                        </span>
                    </div>
                    <input id="username" name="username" class="form-control" placeholder="Username" type="text" />
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock icon_fixer"></i>
                        </span>
                    </div>
                    <input id="password" name="password" class="form-control" placeholder="Password" type="password" />
                </div>
                <div class="form-group">
                    <button id="submit" class="btn btn-primary btn-block">
                        Submit
                    </button>
                </div>
                <!-- form-group// -->
            </div>
        </article>
    </div>
    <!-- card.// -->
</div>
<!--container end.//-->
{% endblock content %}

{% block script %}
<script>
    $("#submit").click(function () {
        $(function () {
            let list = {};
            let csrftoken = $("[name=csrfmiddlewaretoken]").val();
            list["username"] = $("#username")[0].value;
            list["password"] = $("#password")[0].value;
            if(getQueryVariable("redirect_uri"))
                list["redirect_uri"] = getQueryVariable("redirect_uri");

            $.ajax({
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                url: "{%url 'user_login_api'%}",
                data: JSON.stringify(list),
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (result) {
                    $("[id^=ajax_result]").remove();
                    $("#login-form").append(
                        '<div id="ajax_result" class="alert alert-success" role="alert">' +
                        result["message"] +
                        "</div>"
                    );
                    if (typeof result["redirect_uri"] == "string") {
                        document.location = result["redirect_uri"];
                    } else {
                        document.location = "/";
                    }
                },
                error: function (e) {
                    let result = e.responseJSON;
                    switch (result["status"]) {
                        case 400:
                            $("[id^=ajax_result]").remove();
                            for (var index in result["message"]) {
                                $("#" + index)
                                    .parent()
                                    .after(
                                        '<div id="ajax_result_' +
                                        index +
                                        '" class="alert alert-danger" role="alert">' +
                                        result["message"][index][0] +
                                        "</div>"
                                    );
                            }
                            break;
                        case 403:
                            $("[id^=ajax_result]").remove();
                            $("#login-form").append(
                                '<div id="ajax_result" class="alert alert-danger" role="alert">' +
                                result["message"] +
                                "</div>"
                            );
                            break;
                        default:
                            $("[id^=ajax_result]").remove();
                            $("#login-form").append(
                                '<div id="ajax_result" class="alert alert-danger" role="alert">Something goes wrong.<br/>Please try again.</div>'
                            );
                            break;
                    }
                },
            });
        });
    });
</script>
{% endblock script %}

<!--username: varchar(255)
name: text
password: varchar(HASH_LENGTH)
role: varchar(10?) admin/teacher/student
balance: decimal
profile: text
username: varchar(255)
name: text
password: varchar(HASH_LENGTH)
role: varchar(10?) admin/teacher/student
balance: decimal
profile: text
-->